body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
  }
  
  canvas {
    display: block;
    border: 2px solid #fff;
  }